In [3]:
import requests
import json
import pandas as pd

In [4]:
pop_url = "https://api.census.gov/data/2019/pep/charagegroups?get=NAME,POP&for=county:*&in=state:34&key=52e4b71218eb4d492e49c7dcde830174d23a8db9"
age_sex_url = "https://api.census.gov/data/2019/pep/charagegroups?get=NAME,POP,SEX,AGEGROUP&for=county:*&in=state:34&key=52e4b71218eb4d492e49c7dcde830174d23a8db9"

In [5]:
pop_response = requests.get(pop_url)
age_sex_response = requests.get(age_sex_url)
print(pop_response.url)
print(age_sex_response.url)

https://api.census.gov/data/2019/pep/charagegroups?get=NAME,POP&for=county:*&in=state:34&key=52e4b71218eb4d492e49c7dcde830174d23a8db9
https://api.census.gov/data/2019/pep/charagegroups?get=NAME,POP,SEX,AGEGROUP&for=county:*&in=state:34&key=52e4b71218eb4d492e49c7dcde830174d23a8db9

In [6]:
pop_data = pop_response.json()
#print(json.dumps(pop_data, indent=4, sort_keys=True))
pop_df = pd.DataFrame((pop_data), columns=("County","Population","State_Num","County_Num"))
pop_df = pop_df.drop(0).reset_index(drop=True)
pop_df["County"] = pop_df["County"].str.split(',',expand=True)
pop_df["County_Num"] = pop_df["State_Num"] + pop_df["County_Num"]
pop_df

               County Population State_Num County_Num
0     Monmouth County     618795        34      34025
1       Mercer County     367430        34      34021
2       Sussex County     140488        34      34037
3        Union County     556341        34      34039
4    Hunterdon County     124371        34      34019
5    Middlesex County     825062        34      34023
6       Warren County     105267        34      34041
7       Hudson County     672391        34      34017
8   Cumberland County     149527        34      34011
9     Cape May County      92039        34      34009
10    Somerset County     328934        34      34035
11       Salem County      62385        34      34033
12       Essex County     798975        34      34013
13  Gloucester County     291636        34      34015
14       Ocean County     607186        34      34029
15      Morris County     491845        34      34027
16    Atlantic County     263670        34      34001
17     Passaic County     501826        34      34031
18      Camden County     506471        34      34007
19      Bergen County     932202        34      34003
20  Burlington County     445349        34      34005

In [29]:
pop_df["Population"] = pop_df["Population"].astype(float)
tot_pop = pop_df["Population"].sum()
tot_pop

8882190.0

In [30]:
age_sex_data = age_sex_response.json()
#print(json.dumps(age_sex_data, indent=4, sort_keys=True))

In [31]:
age_sex_df = pd.DataFrame((age_sex_data), columns=("County","Population", "Gender","Age_group", "State_Num","County_Num"))
age_sex_df = age_sex_df.drop(0).reset_index(drop=True)
age_sex_df["County"] = age_sex_df["County"].str.split(',',expand=True)
age_sex_df["County_Num"] = age_sex_df["State_Num"] + age_sex_df["County_Num"]
age_sex_df["Gender"] = age_sex_df["Gender"].replace(["0","1","2"],['M&F', "Male", "Female"])
age_sex_df["Age_group"] = age_sex_df["Age_group"].replace(["0","1","2","3", "4", "5","6","7","8","9","10","11","12","13","14","15","16",
"17","18","19","20","21","22","23","24","25","26","27","28","29","30","31"],["All ages",
"0 to 4 years",
"5 to 9 years",
"10 to 14 years",
"15 to 19 years",
"20 to 24 years",
"25 to 29 years",
"30 to 34 years",
"35 to 39 years",
"40 to 44 years",
"45 to 49 years",
"50 to 54 years",
"55 to 59 years",
"60 to 64 years",
"65 to 69 years",
"70 to 74 years",
"75 to 79 years",
"80 to 84 years",
"85 years and older",
"Under 18 years",  
"5 to 13 years",  
"14 to 17 years",  
"18 to 64 years", 
"18 to 24 years",  
"25 to 44 years",  
"45 to 64 years",  
"65 years and over",  
"85 years and over",  
"16 years and over",  
"18 years and over", 
"15 to 44 years",  
"Median age"])
age_sex_df.head(10)

            County Population Gender       Age_group State_Num County_Num
0  Monmouth County     618795    M&F        All ages        34      34025
1  Monmouth County      30327    M&F    0 to 4 years        34      34025
2  Monmouth County      34399    M&F    5 to 9 years        34      34025
3  Monmouth County     301063   Male        All ages        34      34025
4  Monmouth County      15416   Male    0 to 4 years        34      34025
5  Monmouth County      65826   Male  Under 18 years        34      34025
6  Monmouth County      39109    M&F  10 to 14 years        34      34025
7  Monmouth County      17582   Male    5 to 9 years        34      34025
8  Monmouth County      40248    M&F  15 to 19 years        34      34025
9  Monmouth County      20553   Male  15 to 19 years        34      34025

In [32]:
#make Each gender and age group a column with population numbers 
#(Male_Population, Female_Population)(,All ages population, 0-17 years population, 18-49, 50-64,65+)
Age_array = ["All ages","50 to 54 years",
"55 to 59 years",
"60 to 64 years","Under 18 years","18 to 24 years",  
"25 to 44 years","45 to 49 years","65 years and over"]
reduced_age_sex_df = age_sex_df.loc[age_sex_df["Age_group"].isin(Age_array)]
reduced_age_sex_df

,County,Population,Gender,Age_group,State_Num,County_Num
0,Monmouth County,618795,M&F,All ages,34,34025
3,Monmouth County,301063,Male,All ages,34,34025
5,Monmouth County,65826,Male,Under 18 years,34,34025
19,Monmouth County,41388,M&F,45 to 49 years,34,34025
20,Monmouth County,47134,M&F,50 to 54 years,34,34025
...,...,...,...,...,...,...
1997,Warren County,10999,Female,65 years and over,34,34041
2003,Hudson County,67113,Female,Under 18 years,34,34017
2007,Hudson County,24939,Female,18 to 24 years,34,34017
2008,Hudson County,120165,Female,25 to 44 years,34,34017
2010,Hudson County,47685,Female,65 years and over,34,34017

In [ ]:
#by age and sex